<% include Nav %>
<!DOCTYPE html>

<html>
<head>
</head>
<body>
	<div>
		<section>
			<div>
				<p>PVD+是一個高效率團隊，理所當然要有個高效率工作日誌。<br/><br/>於是生為實習生的我就開始思考，如何能有個工作表可以提高效率呢？用Google Driver建立工作日誌表？用社團po進度?每天進度寫在白板上?這些工具都是很好!而且他們有個共通點...
				<br><br><h5>&nbsp;&nbsp;&nbsp;&nbsp;讓大家看見</h5><br>
				這聽起來很無趣，但是很重要，有人看就有壓力，有壓力才有成果。
				<p id="foot">--by BigQ </p>
				</p>
			</div>	
		</section>	
		<br/>
		<hr>
		<footer>
			<a id="foot" href="http://pvdplus.wordpress.com/">PVD<sup>+</sup>Lab_2014</a>
		</footer>	
		<br/><br/>
	</div> <!-- END Wrapper -->
	

</body>
</html>