<%- include header %>
<form method="post">
    文章：<br />
    <input type="text" name="title" /><br />
    內容：<br />
    <textarea name="post" rows="20" cols="120"></textarea><br />
    <input type="submit" value="貼文" />
</form>
<%- include footer %>
